<div class="card card-default">
	<div class="card-header card-header-border-bottom">
		<h2>List of Orders</h2>
	</div>
	<div class="card-body">
		<table class="table table-bordered table-striped display" id="your-table-id">
			<thead>
				<tr>
					<th>Branch Name</th>
					<th>Order date</th>
					<th>Total</th>
					<th>Status</th>
					<th>User</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<% @orders.each do |order| %>
					<tr>
						<td><%= order.user.branch_name %></td>
						<td><%= time_format order.order_date %></td>
						<td><%= currency_format order.grand_total %></td>
						<td><%= order.status_name %></td>
						<td><%= order.user&.name %></td>
						<td>
							<% if can? :read, order %>
								<%= link_to 'Show', order ,class:"btn btn-info " %>
							<% end %>
					  	<% if can? :edit, order %>
								<%= link_to 'Edit', edit_order_path(order) ,class:"btn btn-primary P"%>
							<% end %>
						  <% if can? :destroy, order %>
								<%= link_to 'Destroy', order,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="form-footer pt-5 border-top text-right" style="margin-top: 10px">
			<%= link_to 'New Order', new_order_path, class: 'btn btn-primary' %>
			<%= link_to 'print', orders_path( format: 'pdf') ,class:"btn btn-info" %>
			<%= link_to 'Export in CSV', export_orders_path(format: 'csv'), class: 'btn btn-primary' %>


		</div>
	</div>
</div>
