<div >

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
           <%= render "users/shared/error_messages", resource: resource %>
          <div>
            <%= image_tag(current_user.image_url, class: 'myclass_a', :size => "80x80", :alt => "Add  icon" , :id =>'blah') if current_user.image.present?%>
          </div>
          <div class="field">
            <%= f.label :image %><br />
            <%= f.file_field :image, autofocus: true, autocomplete: "email", :id => 'fileupload' %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: ' btn btn-lg btn-primary ' %>
          </div>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class: "btn btn-lg btn-danger "%></p>

        <%= link_to "Back", :back, class: "btn btn-outline-primary" %>
</div>
<script>
$("#fileupload").change(function () {
    readURL(this);
});
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {

            var st = e.target.result;

            $('#blah').attr('src', e.target.result);

        };
        reader.readAsDataURL(input.files[0]);
    }
}
</script>
